.cv_button {
    display: flex;
    justify-content: center;
    width: 120px;
    padding: 15px;
    border-radius: 30px;
    border: none;
    color: white;
    font-size: 12px;
    background-color: #283BDA;
}