.primary-title {
  font-size: 40px;
  padding: 6rem;
}
#about-me {
  background-color: #fafafa;
  margin-bottom: 3rem;
}
.about-me__title {
  display: block;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 2.5rem;
  position: relative;
}
.about-me_infos {
  display: block;
  font-size: 18px;
  margin-bottom: 3rem;
}
.other-about-me__title {
  margin-bottom: 2rem;
}
.about-me__title::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 4rem;
  background: #facf0f;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
  border-radius: 5px;
}
.other-about-me {
  display: block;
  margin-bottom: 3rem;
  font-size: 18px;
}
.presentation {
  margin-bottom: 3rem;
}
.text__presentation {
  font-size: 18px;
  margin-bottom: 3rem;
}
#about {
  background-color: #fafafa;
}
.skills__title {
  display: block;
  font-size: 1.3rem;
  margin-bottom: 2.5rem;
  position: relative;
}
.skills {
  display: flex;
  flex-wrap: wrap;
}
.skills__skill {
  padding: 1rem 2rem;
  margin-bottom: 1.1rem;
  margin-right: 1.2rem;
  border-radius: 5px;
  font-size: 1.2rem;
  background: rgba(153, 153, 153, 0.2);
  color: #666;
}

.projects__title {
  display: block;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 2.5rem;
  position: relative;
}
.projects__title::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 4rem;
  background: #facf0f;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
  border-radius: 5px;
}
.projects__description {
  display: block;
  font-size: 18px;
  margin-bottom: 3rem;
}
