.projects_cards {
    width: 100%;
    height: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.booki_project {
    display: inline-block;
  width: 200px;
  height: 700px;
  border: solid 2px red;
}
.ohmyfood_project {
  width: 200px;
  height: 200px;
  border: solid 2px red;
}
.la-panthere_project {
  width: 200px;
  height: 200px;
  border: solid 2px red;
}
.kanap_project {
  width: 200px;
  height: 200px;
  border: solid 2px red;
}
.piiquante_project {
  width: 200px;
  height: 200px;
  border: solid 2px red;
}
.kasa_project {
  width: 200px;
  height: 200px;
  border: solid 2px red;
}

