.portfolio_header_nav {
  background-color: blue;
  border: solid 2px black;
  border-radius: 15px;
  color: white;
  font-size: 12px;
  padding: 10px;
  height: 100px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
a {
  text-decoration: none;
  color: white;
}

